* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: monospace;
  background: linear-gradient(90deg, #292929, #923cb5);
  color: white;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
}

header nav {
  margin: 32px 0;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header nav ul li {
  font-size: 18px;
}

.main-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
}

.main-block .main-block-text {
  padding: 12px;
}

.main-block .main-block-text h1 {
  font-size: 44px;
  font-family: "Cabin", sans-serif;
  margin-bottom: 22px;
}

.main-block .main-block-text p {
  font-size: 21px;
  font-family: "Cabin", sans-serif;
  line-height: 1.25;
}

.main-block .main-block-text a {
  display: block;
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 8px 16px;
  background-color: transparent;
  border: 0.2px white solid;
  line-height: 2;
  text-align: center;
  font-size: 21px;
  letter-spacing: 2px;
  width: 50%;
}

.main-block .main-block-img {
  width: 100%;
  padding: 12px;
  margin: 0 auto;
}

.main-block .main-block-img img {
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  border: none;
  border-radius: 10px;
}

/* card section */

main h2 {
  margin: 64px 48px 0 48px;
  font-size: 32px;
  font-family: "Cabin", sans-serif;
}

main small {
  margin: 5px 0 0 48px;
  font-size: 14px;
  font-family: monospace;
}

main .grid-card-container {
  width: 100%;
  margin: 0 auto 48px auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 64px;
}

main .grid-card-container .card {
  width: 80%;
  max-width: 450px;
  height: 100%;
  min-height: 400px;
  margin: 0 auto;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
  position: relative;
}

main .grid-card-container .card img {
  width: 100%;
  height: 100%;
  min-height: 450px;
  object-fit: cover;
  border-radius: 15px;
  filter: grayscale(1);
}

main .grid-card-container .card .card-body {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background-color: #1f3d4728;
  backdrop-filter: blur(5px);
  border-radius: 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  transition: 1s;
}

main > div {
  margin-bottom: 64px;
}

main #about {
  text-align: center;
}

main h2 {
  text-align: center;
  font-size: 44px;
  margin-top: 64px;
  padding-top: 12px;
}

main small {
  margin: 0;
}

main .card-body h2 {
  margin-top: 0;
  font-size: 44px;
}

main .card .card-body p {
  font-size: 18px;
  width: 100%;
  padding: 6px;
  line-height: 25px;
  margin-top: 12px;
}

main .grid-card-container .card:hover .card-body {
  right: 0;
}

/* carosoul */
.carousel-text q {
  display: block;
  font-size: 34px;
}

.carousel-text p {
  display: block;
  font-size: 18px;
}

.testimonials {
  width: 100%;
}
.testimonials #testimonials-header {
  text-align: center;
}
.testimonials #testimonials-header small {
  line-height: 2;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: monospace;
  text-align: center;
}
.modifier {
  width: 75%;
  margin: 32px auto;
}
.modifier .c-item {
  height: 350px;
  width: 100%;
}
.modifier .c-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* projects */

#projects-header {
  text-align: center;
}

.projects .project-image {
  display: none;
}

.projects .project-item-cards .project-content {
  width: 80%;
  height: 100%;
  margin: 44px auto;
  border: 1px solid white;
  padding: 5px;
  font-size: 21px;

  /* background-position: center; */
  object-fit: cover;
  text-shadow: rgb(44, 43, 43) 1px 0 10px;
}

.projects .project-item-cards .one {
  background: linear-gradient(
      to right,
      rgba(18, 18, 18, 0.52),
      rgba(18, 0, 13, 0.73)
    ),
    url(img/myBlog.png);
  background-size: cover;
}
.projects .project-item-cards .two {
  background: linear-gradient(
      to right,
      rgba(18, 18, 18, 0.52),
      rgba(18, 0, 13, 0.73)
    ),
    url(img/myPortfolio.png);
  background-size: cover;
}
.projects .project-item-cards .three {
  background: linear-gradient(
      to right,
      rgba(18, 18, 18, 0.52),
      rgba(18, 0, 13, 0.73)
    ),
    url(img/tiktaktoe.png);
  background-size: cover;
}

.projects .project-item-cards .project-content .matter {
  width: 100%;
  backdrop-filter: blur(5px);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projects .project-item-cards .project-content .matter .matter-container-1 {
  margin: 0 auto 22px auto;
}

.projects .project-item-cards .project-content .matter .matter-container-1 h3 {
  margin: 0;
  line-height: 0.8;
  font-size: 32px;
}

.projects
  .project-item-cards
  .project-content
  .matter
  .matter-container-1
  small {
  font-size: 16px;
}

.projects .project-item-cards .project-content .matter .matter-container-2 {
  width: 85%;
  margin: 6px auto;
}

.projects .project-item-cards .project-content .matter .matter-container-2 p {
  font-size: 19px;
}

/* experience */
.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 35px;
  justify-items: center;
  align-items: center;
  padding: 22px;
  /* max-height: 100px; */
}

/* footer */
footer {
  margin-top: 100px;
}
footer .socials {
  height: 20vh;
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #bc4e9c; /* fallback for old browsers */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken, luminosity;
}

footer .socials .icons {
  margin: 32px 24px;
  cursor: pointer;
}

footer .socials .icons .size {
  font-size: 32px;
}

/* media query */
@media only screen and (min-width: 742px) {
  header nav ul li {
    font-size: 24px;
  }
  .main-block {
    flex-direction: row;
    margin-top: 74px;
  }
  .main-block-text {
    width: 30%;
  }
  .main-block .main-block-text {
    width: 40%;
    min-width: 315px;
    padding: 12px;
  }
  .main-block .main-block-text h1 {
    font-size: 64px;
    margin-bottom: 78px;
    letter-spacing: 5px;
  }
  .main-block .main-block-text p {
    font-size: 24px;
    line-height: 1.5;
  }
  .main-block .main-block-img {
    width: 35%;
    min-width: 355px;
    padding: 12px;
    margin: 32px;
  }
  .main-block .main-block-img img {
    width: 100%;
    height: 100%;
  }
  .main-block .main-block-text a {
    margin-top: 32px;
    font-size: 24px;
    transition: 1s ease-in-out;
    width: 100%;
  }
  .main-block .main-block-text a:hover {
    background: black;
  }
  /* card section */
  main .grid-card-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 12px;
  }

  main .grid-card-container .card {
    width: 25%;
    min-width: 250px;
    height: 100%;
    min-height: 400px;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    min-width: 300px;
  }

  main .grid-card-container .card img {
    width: 100%;
    height: 100%;
    min-height: 450px;
    border-radius: 15px;
    mix-blend-mode: normal;
    filter: grayscale(1);
  }

  main .grid-card-container .card .card-body {
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main > div {
    margin-bottom: 64px;
  }

  main h2 {
    font-size: 64px;
    margin-top: 64px;
  }

  main .card-body h2 {
    margin-top: 0;
  }

  main .card .card-body p {
    font-size: 18px;
    width: 100%;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0;
    line-height: 25px;
    margin-top: 0px;
  }

  main .grid-card-container .card:hover .card-body {
    right: 0;
  }
  /* carousel */
  .testimonials {
    width: 100%;
  }
  .testimonials #testimonials-header {
    text-align: center;
  }
  .testimonials #testimonials-header small {
    line-height: 2;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: monospace;
    text-align: center;
  }
  .modifier {
    width: 75%;
    margin: 32px auto;
  }
  .modifier .c-item {
    height: 500px;
    width: 100%;
  }
  .modifier .c-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  /* projects */
  main .projects {
    width: 75%;
  }
  .projects .project-item-cards .project-image {
    width: 50%;
  }

  .projects .project-item-cards .project-image img {
    width: 100%;
    min-width: 450px;
    height: auto;
    margin-left: 100px;
    object-fit: cover;
  }
  .projects .project-item-cards {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .projects .project-item-cards .project-content {
    min-width: 350px;
  }
  .projects .project-item-cards .project-content .matter-container-2 {
    text-align: center;
  }
  .projects .project-image {
    display: block;
  }
  .projects .project-item-cards .one {
    background: linear-gradient(
      to right,
      rgba(18, 18, 18, 0.52),
      rgba(18, 0, 13, 0.73)
    );
  }
  .projects .project-item-cards .two {
    background: linear-gradient(
      to right,
      rgba(18, 18, 18, 0.52),
      rgba(18, 0, 13, 0.73)
    );
  }
  .projects .project-item-cards .three {
    background: linear-gradient(
      to right,
      rgba(18, 18, 18, 0.52),
      rgba(18, 0, 13, 0.73)
    );
  }
  /* experience */
  .grid-container {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
  }
  .grid-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* footer */
  footer .socials .icons .size {
    font-size: 42px;
  }
}
