* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: monospace;
  background: linear-gradient(#292929, #923cb5);
  color: white;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
}

header nav {
  margin: 32px 0;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header nav ul li {
  font-size: 18px;
}

.main-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
}

.main-block .main-block-text {
  padding: 12px;
}

.main-block .main-block-text h1 {
  font-size: 44px;
  font-family: "Cabin", sans-serif;
  margin-bottom: 22px;
}

.main-block .main-block-text p {
  font-size: 21px;
  font-family: "Cabin", sans-serif;
  line-height: 1.25;
}

.main-block .main-block-text a {
  display: block;
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 8px 16px;
  background-color: transparent;
  border: 0.2px white solid;
  line-height: 2;
  text-align: center;
  font-size: 21px;
  letter-spacing: 2px;
  width: 50%;
}

.main-block .main-block-img {
  width: 100%;
  padding: 12px;
  margin: 0 auto;
}

.main-block .main-block-img img {
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  border: none;
  border-radius: 10px;
}

/* card section */

main h2 {
  margin: 64px 48px 0 48px;
  font-size: 32px;
  font-family: "Cabin", sans-serif;
}

main small {
  margin: 5px 0 0 48px;
  font-size: 14px;
  font-family: monospace;
}

main .grid-card-container {
  width: 100%;
  margin: 0 auto 48px auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 64px;
}

main .grid-card-container .card {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
  position: relative;
}

main .grid-card-container .card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
  filter: grayscale(1);
}

main .grid-card-container .card .card-body {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background-color: #1f3d4728;
  backdrop-filter: blur(5px);
  border-radius: 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  transition: 1s;
}

main > div {
  margin-bottom: 64px;
}

main h2 {
  font-size: 64px;
  margin-top: 64px;
  padding-top: 12px;
}

main .card-body h2 {
  margin-top: 0;
}

main .card .card-body p {
  font-size: 18px;
  width: 100%;
  padding: 6px;
  line-height: 25px;
  margin-top: 12px;
}

main .grid-card-container .card:hover .card-body {
  right: 0;
}

/* testimonials */
main .testimonials {
  width: 100%;
  height: 100vh;
  background: url(img/darkBg3.gif) no-repeat;
  background-size: cover;
  text-align: center;
}
main .quotes {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans Georgian", sans-serif;
  backdrop-filter: blur(5px);
  padding: 10px;
}

main .quotes small {
  font-size: 21px;
}

/* slider */

main .slider-container {
  margin-top: 50px;
  height: 40vh;
}

/* media query */
@media only screen and (min-width: 742px) {
  body {
    background: linear-gradient(90deg, #000000, #923cb5);
  }
  header nav ul li {
    font-size: 24px;
  }
  .main-block {
    flex-direction: row;
    margin-top: 74px;
  }
  .main-block-text {
    width: 30%;
  }
  .main-block .main-block-text {
    width: 40%;
    min-width: 315px;
    padding: 12px;
  }
  .main-block .main-block-text h1 {
    font-size: 64px;
    font-family: "Cabin", sans-serif;
    margin-bottom: 78px;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
  .main-block .main-block-text p {
    font-size: 24px;
    font-family: "Cabin", sans-serif;
    line-height: 1.5;
  }
  .main-block .main-block-img {
    width: 35%;
    min-width: 355px;
    padding: 12px;
    margin: 32px;
  }
  .main-block .main-block-img img {
    width: 100%;
    height: 100%;
  }
  .main-block .main-block-text a {
    margin-top: 32px;
    font-size: 24px;
    transition: 1s ease-in-out;
    width: 100%;
  }
  .main-block .main-block-text a:hover {
    background: black;
  }
  /* card section */
  main .grid-card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 12px;
  }

  main .grid-card-container .card {
    width: 20%;
    min-width: 250px;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    cursor: pointer;
    overflow: hidden;
    position: relative;
  }

  main .grid-card-container .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    mix-blend-mode: normal;
    filter: grayscale(1);
  }

  main .grid-card-container .card .card-body {
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background-color: #1f3d4728;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    transition: 1s;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main > div {
    margin-bottom: 64px;
  }

  main h2 {
    font-size: 64px;
    margin-top: 64px;
  }

  main .card-body h2 {
    margin-top: 0;
  }

  main .card .card-body p {
    font-size: 16px;
    width: 100%;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0;
    line-height: 25px;
    margin-top: 0px;
  }

  main .grid-card-container .card:hover .card-body {
    right: 0;
  }
  /* testimonials */
  main .testimonials {
    width: 100%;
    height: 100vh;
    background: url(img/darkBg3.gif) no-repeat;
    background-size: cover;
    text-align: center;
    margin-top: 100px;
  }
  /* slider */
  main .slider-container q {
    margin-top: 100px;
    width: 70%;
    font-size: 46px;
  }
  main .slider-container small {
    font-size: 21px;
  }
}
